In [1]:
import pandas as pd
import re,nltk
from sklearn.model_selection import train_test_split as tts
from sklearn import pipeline
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize.treebank import TreebankWordDetokenizer
import numpy as np

In [2]:
sw=set(stopwords.words('english'))

In [3]:
data=pd.read_csv('Women.csv')

In [4]:
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [5]:
data['combi_text']=data['Title'].fillna("")+" "+data['Review Text'].fillna("")

In [6]:
data['combi_text']

0         Absolutely wonderful - silky and sexy and com...
1         Love this dress!  it's sooo pretty.  i happen...
2        Some major design flaws I had such high hopes ...
3        My favorite buy! I love, love, love this jumps...
4        Flattering shirt This shirt is very flattering...
                               ...
23481    Great dress for many occasions I was very happ...
23482    Wish it was made of cotton It reminds me of ma...
23483    Cute, but see through This fit well, but the t...
23484    Very cute dress, perfect for summer parties an...
23485    Please make more like this one! This dress in ...
Name: combi_text, Length: 23486, dtype: object

In [7]:
list(data)

['Unnamed: 0',
 'Clothing ID',
 'Age',
 'Title',
 'Review Text',
 'Rating',
 'Recommended IND',
 'Positive Feedback Count',
 'Division Name',
 'Department Name',
 'Class Name',
 'combi_text']

In [8]:
data.drop(['Unnamed: 0'],1,inplace=True)

In [11]:
def word_preprocessor(text):
    text=re.sub('[^a-zA-Z]', " ", str(text))
    text=text.lower()
    text_tokens=word_tokenize(text)
    text_tokens_no_sw=[w for w in text_tokens if not w in sw]
    text=TreebankWordDetokenizer().detokenize(text_tokens_no_sw)
    return text

In [12]:
data.head(10)

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,combi_text
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,Absolutely wonderful - silky and sexy and com...
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,Love this dress! it's sooo pretty. i happen...
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,Some major design flaws I had such high hopes ...
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,"My favorite buy! I love, love, love this jumps..."
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Flattering shirt This shirt is very flattering...
5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,Not for the very petite I love tracy reese dre...
6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits,Cagrcoal shimmer fun I aded this in my basket ...
7,858,39,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,1,4,General Petite,Tops,Knits,"Shimmer, surprisingly goes with lots I ordered..."
8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses,Flattering I love this dress. i usually get an...
9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses,"Such a fun dress! I'm 5""5' and 125 lbs. i orde..."

In [13]:
data.drop(['Title','Review Text'],1,inplace=True)

In [14]:
data['combi_text']=data['combi_text'].apply(word_preprocessor)

In [15]:
data

,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,combi_text
0,767,33,4,1,0,Initmates,Intimate,Intimates,absolutely wonderful silky sexy comfortable
1,1080,34,5,1,4,General,Dresses,Dresses,love dress sooo pretty happened find store gla...
2,1077,60,3,0,0,General,Dresses,Dresses,major design flaws high hopes dress really wan...
3,1049,50,5,1,0,General Petite,Bottoms,Pants,favorite buy love love love jumpsuit fun flirt...
4,847,47,5,1,6,General,Tops,Blouses,flattering shirt shirt flattering due adjustab...
...,...,...,...,...,...,...,...,...,...
23481,1104,34,5,1,0,General Petite,Dresses,Dresses,great dress many occasions happy snag dress gr...
23482,862,48,3,1,0,General Petite,Tops,Knits,wish made cotton reminds maternity clothes sof...
23483,1104,31,3,0,1,General Petite,Dresses,Dresses,cute see fit well top see never would worked g...
23484,1084,28,3,1,2,General,Dresses,Dresses,cute dress perfect summer parties bought dress...
23485,1104,52,5,1,22,General Petite,Dresses,Dresses,please make like one dress lovely platinum fem...