In [0]:
import numpy as np

In [0]:
def prime(n):
  temp = 2
  while (temp < n**0.5):
    if n % temp == 0:
      return False
    temp += 1
  return True

In [0]:
def nth_prime(n):
  if n == 1:
    return 2
  count = 1
  num = 1
  while(count < n):
    num += 2
    if prime(num) == True:
      count += 1
  return num

In [0]:
for i in range (1,30):
  print (nth_prime(i))

2
3
5
7
9
11
13
17
19
23
25
29
31
37
41
43
47
49
53
59
61
67
71
73
79
83
89
97
101