<a href="https://colab.research.google.com/github/aakashak2000/NLP_sem6/blob/master/token_pos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def word_count(str):
  count_of_word=dict()
  words=str.split()
  for word in words:
    if word in count_of_word:
      count_of_word[word]+=1
    else:
      count_of_word[word]=1
  return count_of_word

In [0]:
def letters(string):
    vowels = 0
    vowels_list = ['a', 'e', 'i', 'o', 'u']
    consonants = 0
    words = len(string.split())
    for i in range(0, len(string)):  
            ch = string[i]  
            ch = ch.lower()
            if (ch >= 'a' and ch <= 'z'):
             if ch in vowels_list: 
                vowels += 1
             else: 
                consonants += 1
          
    count = {'vowels': vowels, 'consonants': consonants, 'words': words}
    return count

In [0]:
df['reviewText_wordcount']=df['reviewText'].apply(word_count)
df['summary_wordcount']=df['summary'].apply(word_count)
df["reviewText_letter_count"] = df.reviewText.apply(letters)
df["summary_letter_count"] = df.summary.apply(letters)

In [0]:
import re

In [7]:
def BG(string):
    string = re.sub('[^a-zA-Z]',' ', string) #removes punctuations
    list1 = re.findall(r"\b[Bb]\w+|\w+[Gg]\b", string)
    return list1
BG('Bass and treble of aa song and a Bot good goog')

['Bass', 'song', 'Bot', 'goog']

In [0]:
df["reviewText_BG"] = df.reviewText.apply(BG)
df["summary_BG"] = df.summary.apply(BG)

In [9]:
def not_BG(string):
    string = re.sub('[^a-zA-Z]',' ', string) #removes punctuations
    list1 = re.findall(r"\b(?![Bb])\w+(?<![Gg])\b", string) #finding words not ending with g/G and words not starting with b/B
    return list1
not_BG('Bass and treble of aa song and a Bot good goog') #example

['and', 'treble', 'of', 'aa', 'and', 'a', 'good']

In [0]:
df["reviewText_BG"] = df.reviewText.apply(not_BG)
df["summary_BG"] = df.summary.apply(not_BG)

In [0]:
from nltk import word_tokenize
import nltk
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag

In [12]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [13]:
def token_pos(sentence):
  sentence = re.sub("[^a-zA-Z]"," ",sentence)
  new_dict = {}
  tag = pos_tag(sentence.split())
  tag_list = list(sum(tag,()))
  new_dict = {tag_list[i]: tag_list[i+1] for i in range(0, len(tag_list), 2)}
  return new_dict

token_pos("Aakash has taken the initiative to learn advanced swimming at Ozone Swimmimg Pool.")

{'Aakash': 'NNP',
 'Ozone': 'NNP',
 'Pool': 'NNP',
 'Swimmimg': 'NNP',
 'advanced': 'JJ',
 'at': 'IN',
 'has': 'VBZ',
 'initiative': 'NN',
 'learn': 'VB',
 'swimming': 'NN',
 'taken': 'VBN',
 'the': 'DT',
 'to': 'TO'}

In [14]:
def token_pos2(sentence):
  sentence = re.sub("[^a-zA-Z]"," ",sentence)
  new_dict = {}
  tags = pos_tag(sentence.split())
  new_dict = {(word) : (tag) for word, tag in tags}
  return new_dict

token_pos("Aakash has taken the initiative to learn advanced swimming at Ozone Swimmimg Pool.")

{'Aakash': 'NNP',
 'Ozone': 'NNP',
 'Pool': 'NNP',
 'Swimmimg': 'NNP',
 'advanced': 'JJ',
 'at': 'IN',
 'has': 'VBZ',
 'initiative': 'NN',
 'learn': 'VB',
 'swimming': 'NN',
 'taken': 'VBN',
 'the': 'DT',
 'to': 'TO'}

In [15]:
def adj(sentence):
  sentence = re.sub('[^a-zA-Z]', " ", sentence)
  tag1 = pos_tag(sentence.split())
  adj1 = [(word) for word, tag in tag1 if (tag=='JJ')]
  return adj1

adj("Aakash has taken!the initiative to learn advanced swimming at Ozone Swimmimg Pool.")

['advanced']

In [16]:
adj(df['reviewText'][0])

['first',
 'difficult',
 'many',
 'powerful',
 'counterintuitive',
 'other',
 'good',
 'solid',
 'reliable',
 'programmable',
 'basic',
 'many',
 'manual',
 'short',
 'ready',
 'old']

In [0]:
df['adjectives_review_text'] = df['reviewText'].apply(adj)
df['adjectives_summary'] = df['summary'].apply(adj)

In [0]:
df['tags_review'] = df['reviewText'].apply(token_pos)
df['tags_summary'] = df['summary'].apply(token_pos)

In [19]:
df.head()

       reviewerID  ...                                       tags_summary
0  A32T2H8150OJLU  ...  {'A': 'DT', 'solid': 'JJ', 'performer': 'NN', ...
1  A3MAFS04ZABRGO  ...  {'Price': 'NN', 'of': 'IN', 'GOLD': 'NN', 'is'...
2  A1F1A0QQP2XVH5  ...  {'Good': 'JJ', 'functionality': 'NN', 'but': '...
3   A49R5DBXXQDE5  ...  {'One': 'CD', 'of': 'IN', 'the': 'DT', 'last':...
4  A2XRMQA6PJ5ZJ8  ...        {'Still': 'RB', 'the': 'DT', 'best': 'JJS'}

[5 rows x 19 columns]